<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169295692118-580rlhnpc8ur9hkank1u3kb36gm92hf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169295692118-580rlhnpc8ur9hkank1u3kb36gm92hf5</string>
	<key>API_KEY</key>
	<string>AIzaSyA4cIlP_TgG1SbPEbeSNXhaYOFxZkadk4M</string>
	<key>GCM_SENDER_ID</key>
	<string>169295692118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonydoesathing.quickcheck</string>
	<key>PROJECT_ID</key>
	<string>quickcheck-frontend</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcheck-frontend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169295692118:ios:44a7858329f10c7b8656f7</string>
</dict>
</plist>